html {
    height: 100vh;
}

body { 
  margin: 0;
  background-color: #e6d1da;
	 font-family: "Bradley Hand ITC";
}

#header {
  background-color: #e6d1da;
  color: #f1f1f1;
  text-align: center;
  font-size: 80px; 
  font-weight: bold;
  position: fixed;
  top: 0;
  z-index:2;
  width: 100%;
  transition: 0.2s;
  font-family:"Garamond";
  padding-top:20px;
  padding-bottom:20px;
}

.container {
	margin: 20px auto auto auto;
 	display: table;
	width: 75%;
	height:100vh;
	font-family: "Garamond";
}

.postbox {
 	display: table-cell;
	width: 80%;  
	background-color: #f1f1f1; 
}

.postheading {
	margin: 2%;
	font-size:27px;
	padding: 5%;
	color:#09234d;
	font-weight: bold;
	font-family: "Times New Roman";
	background-color: #e6d1da;
	line-height: 28px;
}

.posttext {
	margin: 8px;
	font-size:20px;
	padding: 2%;
	color:#09234d;
	background-color: #e6d1da;
	line-height: 28px;
	min-height: 100vh;
}

.menu{
	display: table-cell;
	background-color: #e6d1da; 
	width: 20%;
	border-left-style: 1px solid #09234d;
}

.menutext {
	font-size:18px;
	padding: 5%;
	color: #09234d;
	background-color: #e6d1da;
	overflow-x: hidden;
	line-height: 26px;
	text-align: center;
}

a:link {
  color: #09234d;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #8f8389;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #d3a4bb;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #f1f1f1;
  background-color: transparent;
  text-decoration: underline;
}

.centbox {
	text-align: center;
}

#line {
    float: left;
    width: 731px;
    height: 10px;
}

hr {
  color: #09234d;
  clear:both;
  display:block;
margin:130px auto auto auto;
background-color:#e6d1da;
width:96%;
border:1px solid #09234d;
border-radius: 0.5px;
}

.caption {
	text-align: center;
	font-famliy: "Garamond";
	color: #09234d;
	font-size: 16px;
	padding: 1px;
}
